BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
Language: Cpp
BreakBeforeBraces: Attach
AlignConsecutiveAssignments: false
AlignTrailingComments: true
CommentPragmas: '[\s\S]*'
ColumnLimit: 100
BreakBeforeTernaryOperators: true
BreakBeforeBinaryOperators: NonAssignment
SortIncludes: true
NamespaceIndentation: All
IndentCaseLabels: true
AlignOperands: AlignAfterOperator
SpacesInContainerLiterals: true
SpaceBeforeParens: Custom
Cpp11BracedListStyle: false
AlignConsecutiveMacros:
  Enabled: false
  AcrossEmptyLines: true
  AcrossComments: true
AllowShortFunctionsOnASingleLine: None 
AlignConsecutiveDeclarations:
  Enabled: false
  AcrossEmptyLines: true
  AcrossComments: false
  AlignCompound: true
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false 
AllowAllArgumentsOnNextLine: false
BinPackArguments: false
IncludeCategories:
  - Regex:           'CWCommon.h'
    Priority:        0 
  - Regex:           'HostapdHeaders/utils/common.h'
    Priority:        0 
  - Regex:           '_Initial'  
    Priority:        1 
  - Regex:           '.*'
    Priority:        7         